<script type="text/x-template" id="dom-view-v2-template">
  <v-card>
      <v-container grid-list-md fluid>
      <v-layout row wrap v-for="(exchange,name) in exchanges" :key="name">
        <v-flex xs12>
    <v-toolbar>
      <v-toolbar-title class="display-1">{{version}} {{name}} | teir: ₿{{exchange.teir | toBTC | toShort}}, equity: <span :class="equityColor">${{exchange.equity | toUSD}}</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <menu-more-vert :items="menu" @menuMoreVertAction="doAction(group, ...arguments)"></menu-more-vert>
    </v-toolbar>
    <v-card>
      <v-container grid-list-md fluid>
        <v-layout row wrap v-for="(group,j) in groups" :key="group.name">
          <v-flex xs12>
            <v-toolbar>
              <v-toolbar-title>{{group.name}} ({{group.date}})</v-toolbar-title>
              <v-spacer></v-spacer>
              <menu-more-vert :items="menu" @menuMoreVertAction="doAction(group, ...arguments)"></menu-more-vert>
            </v-toolbar>
            <v-card>
              <v-layout row wrap>
                <v-flex v-for="(instrument,i) in instruments" :key="instrument.name" xs12 sm6 md4 lg3 xl2>
                  <dom-card v-if="version == 'v1' " :nmInstrument="instrument.name+group.date"></dom-card>
                  <dom-card-v2 v-else="version == 'v2' " :nmInstrument="instrument.name+group.date"></dom-card-v2>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
       </v-flex>
     </v-layout>
   </v-container>
 </v-card>
  
</script>

<script>
  var domViewV2 = {
    template: "#dom-view-v2-template",
    props: {
        version: {
          type: String,
          default: "v2_1"
          },
        },
    components: {
      DomCard: DomCard,
      DomCardV2: DomCardV2,
      ToolbarBookruning: ToolbarBookruning,
      MenuMoreVert: MenuMoreVert,
      },
    filters: {
      toBTC: function (value) {
        if (!value) return '';
        return Math.floor(value/6000).toString(); /*todo костыль с курсом btc*/
        },
      toUSD: function (value) {
        if (!value) return '';
        return Math.floor(value).toString();
        },
      toShort: function (value) {
        if (!value) return '';
        if (value > 10000 && value < 10000000) value = Math.round (value/1000).toString() + "k"
        else if (value > 10000000) value = Math.round (value/1000000).toString() + "m"
        return value;
        },
      },
    computed: {
      domData () {  
//        console.log("domData", this.$store.getters.domData);
        return this.$store.getters.domData;
        },
      instruments () {
        return this.$store.getters.instruments;
        },
      exchanges () {
        return this.$store.getters.exchanges;
        },
      groups () {
        return this.$store.getters.groups;
        },    
      equityColor () {  
        return (this.exchanges.Okex.equity < 0) ? "red--text" : "green--text"; /*todo костыль с биржей*/
        },
      },
    methods: {
        
      doAction (group, item) {        
        let 
          groups = ((group) ? [group] : this.$store.getters.groups),
          instruments = this.$store.getters.instruments;
        console.log("doAction dom-view groups, group", item, groups, group);
        for (let group of groups) {
          for (let instrument of instruments) {
            this.$store.dispatch('setTradeState', {
              instrument: instrument.name + group.date,
              tradeState: item.mode
              });
            console.log("doAction dom-view mode instrument", item.mode, instrument.name + group.date);
            }
          }
        },
      },
    data () {
      return {    
        menu: [
          {name: "Торговать", mode: "run"}, 
          {name: "Пауза", mode: "pause"},
          {name: "Парковать", mode: "lending"}, 
          {name: "Реконект", mode: "reconnect"},
        ],
      }
    }
  };
console.log ("dom-view-v2 started", this.version);
</script>
