<script type="text/x-template" id="dom-view-template">
  <v-card>
      <v-container grid-list-md fluid>
      <v-layout row wrap v-for="(exchange,name) in exchangesOld" :key="name">
        <v-flex xs12>
    <v-toolbar>
      <v-toolbar-title class="display-1">{{version}} {{name}} | teir: ₿{{exchange.teir | toBTC | toShort}}, equity: <span :class="equityColor">${{exchange.equity | toUSD}}</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <toolbar-bookruning v-if="version == 'v1_1'" @toolbarBookruningAction="doAction(name.foo, ...arguments)"></toolbar-bookruning>
    </v-toolbar>
    <v-card>
      <v-container grid-list-md fluid>
        <v-layout row wrap v-for="(group,j) in groups" :key="group.name">
          <v-flex xs12>
            <v-toolbar>
              <v-toolbar-title>{{group.name}} ({{group.date}})</v-toolbar-title>
              <v-spacer></v-spacer>
              <toolbar-bookruning @toolbarBookruningAction="doAction(group, ...arguments)"></toolbar-bookruning>
            </v-toolbar>
            <v-card>
              <v-layout row wrap>
                <v-flex v-for="(instrument,i) in instruments" :key="instrument.name" xs12 sm6 md4 lg3 xl2>
                  <dom-card v-if="version == 'v1_1' " :nmInstrument="instrument.name+group.date"></dom-card>
                  <dom-card-v2 v-else="version == 'v1_2' " :nmInstrument="instrument.name+group.date"></dom-card-v2>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
       </v-flex>
     </v-layout>
   </v-container>
 </v-card>
  
</script>

<script>
  var domView = {
    template: "#dom-view-template",
    props: {
        version: {
          type: String,
          default: "v1_2"
          },
        },
    components: {
      DomCard: DomCard,
      DomCardV2: DomCardV2,
      ToolbarBookruning: ToolbarBookruning,
      },
    filters: {
      toBTC: function (value) {
        if (!value) return '';
        return Math.floor(value/6000).toString(); /*todo костыль с курсом btc*/
        },
      toUSD: function (value) {
        if (!value) return '';
        return Math.floor(value).toString(); /*todo костыль с курсом btc*/
        },
      toShort: function (value) {
        if (!value) return '';
        if (value > 10000 && value < 10000000) value = Math.round (value/1000).toString() + "k"
        else if (value > 10000000) value = Math.round (value/1000000).toString() + "m"
        return value;
        },
      },
    computed: {
      domData () {  
        console.log("domData", this.$store.getters.domData);
        return this.$store.getters.domData;
        },
      instruments () {
        return this.$store.getters.instruments;
        },
      exchangesOld () {
        return this.$store.getters.exchangesOld;
        },
      groups () {
        return this.$store.getters.groups;
        },    
      equityColor () {  
        return (this.exchangesOld.Okex.equity < 0) ? "red--text" : "green--text"; /*todo костыль с биржей*/
        },
      },
    methods: {
      doAction (group, mode) {        
        let 
          groups = ((group) ? [group] : this.$store.getters.groups),
          instruments = this.$store.getters.instruments;
        console.log("doAction dom-view groups, group", groups, group);
        for (let group of groups) {
          for (let instrument of instruments) {
            this.$store.dispatch('setTradeState', {
              instrument: instrument.name + group.date,
              tradeState: mode
              });
            console.log("doAction dom-view mode instrument", mode, instrument.name + group.date);
            }
          }
        },
      },
    data () {
      return {     
      }
    }
  };
console.log ("dom-view started", this.version);
</script>